* html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif, 'Prompt', 'Mulish';
  font-size: 26px;
  color: black;
}

h1,
h2,
h3,
h4 {
  font-family: 'DM Sans', sans-serif, 'Prompt';
}
div {
  font-family: 'Mulish';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.radius {
  border-radius: 8px;
}
.mystyle {
  background-color: #e2282c;
  color: white;
  text-transform: capitalize !important;
}
.defaultstyle {
  background-color: white;
  color: black;
  text-transform: capitalize !important;
}
.mystyle1 {
  text-transform: capitalize !important;
}
.shadow {
  box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
  /* margin-right: 10px; */
  margin-top: 20px;
  border-radius: 5px;
  background-color: white;
  padding-bottom: 30px;
}
.radius1 {
  border-radius: 50px;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  width: 20px;
  height: 20px;
  margin-top: 2px;
}
.marginfName {
  margin-top: 20px;
}
.webgColor {
  width: 100%;
  /* height: 700px; */
  background-color: #d8e3e9;
}
.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: '1px solid #484850';
  /* border-radius: "5px 5px 0 0", */
}
.fieldset {
  border: none !important;
  outline: none !important;
}
.underline {
  text-decoration: underline;
  color: #e2282c;
}
.uploadfile{
  border: '1px solid #bbbbbb';
  border-color: #bbbbbb;
  background-color: #FBFBFA;
  margin-Top: 2px;
  padding-bottom: 9px;
  border-radius: 5px;
}
.marginlftRight{
  padding-left: 30px;
  padding-right: 30px;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed{
  color: green !important ;
}
.css-qivjh0-MuiStepLabel-label.Mui-completed{
  color: green !important ;
}
.css-qivjh0-MuiStepLabel-label.Mui-active{
  color: blueviolet !important ;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root{
  color: #FBFBFA !important;
border: 1px solid grey;
border-radius: 50%;
}

.box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}
.img-preview {
  overflow: hidden;
}
.input{
  border-color: white ;
  background-color: white;
}
.closebtn{
  width: 50px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
}
.actionbtn{
  /* width:"150px",backgroundColor:"black",color:"white", padding:"10px", borderRadius:"8px",textAlign:"center",cursor: 'pointer' */
  width: 30px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  color: white;
  background-color: #F9B507;
}




/* image style */

.App {
  font-family: sans-serif;
  text-align: center;
}

#logo {
  max-height: 500px;
  margin-top: 20px;
}

body {
  background: #010916;
  color: #fff;
}

#logo {
  height: 120px;
}

button {
  height: 60px;
  /* width: 200px; */
  font-size: 22px;
  background-color: white;
  border: none;
  color: red;
  /* text-transform: uppercase; */
  /* cursor: pointer; */
  margin-bottom: 4px;
  text-decoration: underline;
}

.crop-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
}

.controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  height: 40px;
  display: flex;
  align-items: center;
}

.slider {
  padding: 22px 0px;
}

.zoom-range {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 2px;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  background: #3f51b5;
  width: 100%;
}

.zoom-range::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #3f51b5;
  background: #3f51b5;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.zoom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #3f51b5;
  background: #3f51b5;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.controls:hover input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
  border-radius: 50%;
}

.controls:hover input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
}
